<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Reporte de Productos Farmacéuticos</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body class="p-4">
    <div class="container">
      <h2 class="mb-4">Sistema de Consulta de Productos Farmacéuticos</h2>

      <!-- Botón para iniciar la búsqueda -->
      <form method="post" th:href="@{/}">
        <button type="submit" class="btn btn-primary">Generar Reporte</button>
      </form>

      <hr />

      <!-- Tabla de resultados -->
      <div>
        <h4>Resultados:</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Laboratorio</th>
              <th>Código DIGEMID</th>
              <th>Fuente</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="famarco : ${farmacos}">
              <td th:text="${famarco.nombre}">Nombre del Producto</td>
              <td th:text="${famarco.precio}">Precio</td>
              <td th:text="${famarco.laboratorio}">Laboratorio</td>
              <td th:text="${famarco.codigoDigemid}">Código DIGEMID</td>
              <td th:text="${famarco.fuente}">Fuente</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
